body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tile {
    width: 60px;
    height: 60px;
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-right: 10px; /* Ajout de l'espace entre les tuiles */
}

.empty-tile {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.controls {
    margin-top: 20px;
}

.btn-shuffle {
    padding: 10px 20px;
    background-color:#4c65af;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-solve {
    padding: 10px 20px;
    background-color:#4caf86;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
