{% extends 'root/base_html_5.html' %}

{% block title %}NetWork{% endblock title %}

{% block body %}
  <h1>Network</h1>
  
  <form method="post" enctype="multipart/form-data" action="{% url 'initialize_graph' %}">
    {% csrf_token %}
    
    <label for="graph-file">Graph Schema:</label>
    <input type="file" name="graph-file" id="graph-file" required><br>
    
    <label for="url-mapping-file">URL Mapping:</label>
    <input type="file" name="url-mapping-file" id="url-mapping-file" required><br>
    
    <button type="submit">Submit</button>
  </form>
{% endblock body %}
